{{> head}}
<div id="wrapper" class="home page global">
	<div id="main">
		<div class="homepage">
			{{> masthead}}
		</div>
		<div class="grid-container" id="mainContent">
			<div class="onecolumn parbase section">
				<div class="grid-parent grid-100 tablet-grid-100">
					<div class="prefix-25 tablet-prefix-30 grid-75 tablet-grid-70">
						<div class="v-spacing-large">
							<img src="images/home/DP18-26814_051718_HP_Appliances_DT.jpg" class="img-fluid" />
						</div>
						<div class="v-spacing-large">
							<img src="images/home/DP18-28913_HP_053018_Update_DT_Credit.jpg" class="img-fluid" />
						</div>
						<div class="v-spacing-large">
							<img src="images/home/DP18-26791_050418_03_HERO_Paint_ER_DT.jpg" class="img-fluid" />
						</div>
					</div>
				</div>
				<div class="grid-100 tablet-grid-100">
					<div class="v-spacing-large">
						<img src="images/home/DP18-22690_HP_051618_DT_MilitaryDiscount.jpg" class="img-fluid" />
					</div>
				</div>
				<div class="grid-parent grid-100 tablet-grid-100">
					<div class="grid-20 tablet-grid-20">
						<img src="images/home/DP18-22690_HP_051618_DT_Shop Weekly Savings.jpg" class="img-fluid" />
					</div>
					<div class="grid-20 tablet-grid-20">
						<img src="images/home/DP18-22690_HP_051618_DT_Lowes Credit Card.jpg" class="img-fluid" />
					</div>
					<div class="grid-20 tablet-grid-20">
						<img src="images/home/DP18-22690_HP_051618_DT_Installation Services.jpg" class="img-fluid" />
					</div>
					<div class="grid-20 tablet-grid-20">
						<img src="images/home/DP18-22690_HP_051618_DT_Lowes For Pros.jpg" class="img-fluid" />
					</div>
					<div class="grid-20 tablet-grid-20">
						<img src="images/home/DP18-22690_HP_051618_DT_Military Discount.jpg" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer}}
{{> foot}}