{{> head}}
<div id="wrapper" class="services page global">
    <div id="main">
        {{> minimalMasthead}}
        <div role="main" class="content grid-container services-page">
            <div class="grid-100 tablet-grid-100 mobile-grid-100">
                <!-- LEFT COLUMN - SERVICE OPTIONS -->
                {{!-- <div class="grid-70 tablet-grid-60 mobile-grid-100 v-spacing-large">

                </div>
                <!-- RIGHT COLUMN - ORDER SUMMARY -->
                <div class="grid-30 tablet-grid-40 mobile-grid-100 v-spacing-large">
                    
                </div> --}}
                <div class="accordion badge-accordion accordion-primary" id="my-accordion" role="tablist" aria-multiselectable="true">
                    <span class="badge-track"></span>
                    <!-- Default Expanded Panel -->
                    <div class="panel expanded">                    
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="panel-badge" data-toggle="collapse" data-parent="#my-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span aria-label="Describe This Badge" class="badge default">
                                    <i aria-hidden="true" class="icon-tools"></i>
                                </span>
                            </div>
                            <a data-toggle="collapse" data-parent="#my-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="grid-100 grid-parent">
                                    <div class="grid-50">
                                        <h5>Profession Installation:</h5>
                                        <p>Get It Installed</p>
                                    </div>
                                    <div class="pull-right align-right">
                                        <i class="icon-check"></i> Professional Installation
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p class="v-spacing-large">Want this installed for you? Let our certified independent installers handle the labor and ensure you have the right parts to get your product up and running.</p>
                                <div class="form-group radio toggle">
                                    <label id="install-radio-label" for="install-radio-1" class="v-spacing-medium">
                                        <input value="0" id="install-radio-1" name="install-radio" aria-labelledby="install-radio-label" type="radio"> Professionally install this for me. ($00.00)
                                    </label>
                                    <label id="install-radio-label2" for="install-radio-2">
                                        <input checked value="1" id="install-radio-2" name="install-radio" aria-labelledby="install-radio-label2" type="radio"> No thanks, I don't want this installed.
                                    </label>
                                </div>
                                <button class="btn btn-primary js-next-service">Next</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <div class="panel-badge" data-toggle="collapse" data-parent="#my-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span aria-label="Describe This Badge" class="badge default">
                                    <i aria-hidden="true" class="icon-shield"></i>
                                </span>
                            </div>
                            <a class="collapsed" data-toggle="collapse" data-parent="#my-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="grid-100 grid-parent">
                                    <div class="grid-50">
                                        <h5>Extended Protection Plans:</h5>
                                        <p>Protect Your Purchase Longer</p>
                                    </div>
                                    <div class="pull-right align-right">
                                        <i class="icon-check"></i> Professional Installation
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p class="v-spacing-large">Keep your product protected for the long haul and let us take care of wear &amp; tear, functional part repair and more.</p>
                                <div class="form-group radio toggle">
                                    <label id="epp-radio-label" for="epp-radio-1" class="v-spacing-medium">
                                        <input value="0" id="epp-radio-1" name="epp-radio" aria-labelledby="epp-radio-label" type="radio"> <p>Include 3-Year Extended Protection Plan <br/>(+$00.00)  less than $1.70 / month</p>
                                    </label>
                                    <label id="epp-radio-label2" for="epp-radio-2" class="v-spacing-medium">
                                        <input  value="1" id="epp-radio-2" name="epp-radio" aria-labelledby="epp-radio-label2" type="radio"> <p>Include 5-Year Extended Protection Plan <br/>(+$00.00)  less than $1.70 / month</p>
                                    </label>
                                    <label id="epp-radio-label" for="epp-radio-3">
                                        <input checked value="0" id="epp-radio-3" name="epp-radio" aria-labelledby="epp-radio-label" type="radio"> <p>No thanks, I'm OK with a limited warranty.</p>
                                    </label>
                                </div>
                                <button class="btn btn-primary js-next-service">Next</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <div class="panel-badge" data-toggle="collapse" data-parent="#my-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span aria-label="Describe This Badge" class="badge default">
                                    <i aria-hidden="true" class="icon-rotate-left"></i>
                                </span>
                            </div>
                            <a class="collapsed" data-toggle="collapse" data-parent="#my-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <div class="grid-100 grid-parent">
                                    <div class="grid-50">
                                        <h5>Appliance Removal:</h5>
                                        <p>Let Lowe's Get Rid of Your Old Appliance</p>
                                    </div>
                                    <div class="pull-right align-right">
                                        <i class="icon-check"></i> Professional Installation
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p class="v-spacing-large">Keep your product protected for the long haul and let us take care of wear & tear, functional part repair and more.</p>
                                <div class="form-group radio toggle">
                                    <label id="removal-radio-label" for="removal-radio-1" class="v-spacing-medium">
                                        <input value="0" id="removal-radio-1" name="removal-radio" aria-labelledby="removal-radio-label" type="radio"> Haul my old appliance away for me.   FREE
                                    </label>
                                    <label id="removal-radio-label2" for="removal-radio-2" class="v-spacing-medium">
                                        <input  value="1" id="removal-radio-2" name="removal-radio" aria-labelledby="removal-radio-label2" type="radio"> Move my appliance to another room.  ($00.00)
                                    </label>
                                    <label id="removal-radio-label" for="removal-radio-3">
                                        <input checked value="0" id="removal-radio-3" name="removal-radio" aria-labelledby="removal-radio-label" type="radio"> No thanks, I don't mind hauling it away myself.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{{> foot}}