<script src="https://www.lowescdn.com/scaffold/dev/js/scaffold.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.8.1/jquery.hoverIntent.min.js"></script>
<script src="js/{{site.name}}.js"></script>
</body></html>