<script src="https://www.lowescdn.com/scaffold/dev/js/scaffold.min.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script> --}}
<script src="js/{{site.name}}.js"></script>
</body></html>