<div class="footer">
  <div class="grid-container grid-parent">
    <div class="grid-40 tablet-grid-40 mobile-grid-100 social">
      <h3>Connect with us.</h3>
      <ul>
        <li><a href=""><img src="images/social/fb.jpg" /></a></li>
        <li><a href=""><img src="images/social/twitter.jpg" /></a></li>
        <li><a href=""><img src="images/social/pinterest.jpg" /></a></li>
        <li><a href=""><img src="images/social/instagram.jpg" /></a></li>
        <li><a href=""><img src="images/social/vine.jpg" /></a></li>
        <li><a href=""><img src="images/social/youtube.jpg" /></a></li>
      </ul>
    </div>
    <div class="grid-30 tablet-grid-30 mobile-grid-100">
      <h3>Get email offers.</h3>
      <div class="media">
        <div class="media-left">
          <i class="icon-email icon-3x royalBlue"></i>
        </div>
        <div class="media-body">
          <p>Get your local offers sent to your inbox. <a href="" class="chevron right">Sign Up</a></p>
        </div>
      </div>
    </div>
    <div class="grid-30 tablet-grid-30 mobile-grid-100">
      <h3>Download our apps.</h3>
      <div class="media">
        <div class="media-left">
          <i class="icon-mobile icon-3x royalBlue"></i>
        </div>
        <div class="media-body">
          <p>Learn more and download our free apps. <a href="" class="chevron right">Discover</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="pagoda align-center">
    <img src="images/mhf/pagoda.png" alt="Lowes" />
  </div>
  <div class="background-lowesBlue">
    <div class="grid-container grid-parent">
      <div class="grid-100 tablet-grid-100 mobile-grid-100">
        <div role="navigation" class="nav-icon-bar nav-icon-menu-06">
          <a class="item">
            <i class="icon-book icon-2x" aria-hidden="true"></i>
            <span>Weekly Ad</span>
          </a>
          <a class="item">
            <i class="icon-tag-outline icon-2x" aria-hidden="true"></i>
            <span>Clearance &amp; Savings</span>
          </a>
          <a class="item">
            <i class="icon-credit-card icon-2x" aria-hidden="true"></i>
            <span>Lowe's Credit Card</span>
          </a>
          <a class="item">
            <i class="icon-ideas icon-2x" aria-hidden="true"></i>
            <span>Ideas &amp; How-To</span>
          </a>
          <a class="item">
            <i class="icon-lowes icon-2x" aria-hidden="true"></i>
            <span>Find a Store</span>
          </a>
          <a class="item">
            <i class="icon-gift-card icon-2x" aria-hidden="true"></i>
            <span>Gift Cards</span>
          </a>
        </div>
        <div class="links hide-mobile">
          <div class="grid-25 tablet-grid-25">
            <h3>Need Help?</h3>
            <p>Call 1(800) 445-6937</p>
            <h3>Get Savings Alerts</h3>
            <p>Text JOIN to 65-6937</p>
            <p class="legal-text">*Msg &amp; data rates may apply<br />Text STOP to 656937 to cancel at any time.</p>
          </div>
          <div class="grid-25 tablet-grid-25">
            <h3>About Lowe's</h3>
            <ul>
              <li><a href="">Careers</a></li>
              <li><a href="">Company Overview</a></li>
              <li><a href="">Investor Relations</a></li>
              <li><a href="">Newsroom</a></li>
              <li><a href="">Social Responsibility</a></li>
              <li><a href="">Sustainability Policy</a></li>
              <li><a href="">Ethics &amp; Compliance</a></li>
              <li><a href="">Mobile Apps</a></li>
            </ul>
          </div>
          <div class="grid-25 tablet-grid-25">
            <h3>Stores</h3>
            <ul>
              <li><a href="">Find a Store</a></li>
              <li><a href="">Installation Servies</a></li>
              <li><a href="">Build &amp; Grow</a></li>
              <li><a href="">Recycling Center Locator</a></li>
              <li><a href="">In-Store Services</a></li>
              <li><a href="">Lowe's in Pros</a></li>
            </ul>
          </div>
          <div class="grid-25 tablet-grid-25">
            <h3>Customer Service</h3>
            <ul>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Lowe's Credit Card</a></li>
              <li><a href="">Gift Cards</a></li>
              <li><a href="">Rebates</a></li>
              <li><a href="">Returns &amp; Exchanges</a></li>
              <li><a href="">Shipping &amp; Delivery</a></li>
              <li><a href="">Special Orders</a></li>
              <li><a href="">Recalls &amp; Product Safety</a></li>
              <li><a href="">Protection Plans</a></li>
            </ul>
          </div>
        </div>
        <div class="links show-mobile hide-tablet hide-desktop">
          <h3>Need Help?</h3>
          <p>Call 1(800) 445-6937</p>
          <h3>Get Savings Alerts</h3>
          <p>Text JOIN to 65-6937</p>
          <p class="legal-text">*Msg &amp; data rates may apply<br />Text STOP to 656937 to cancel at any time.</p>
          <div id="accordion-footer-menu" class="accordion material material-primary accordion-small" role="tablist" aria-multiselectable="true">
            <!-- Panel -->
            <div class="panel">
              <div class="panel-heading" role="tab" id="accordion-footer-panel-1-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" href="#accordion-footer-panel-1" aria-expanded="true" aria-controls="accordion-footer-panel-1">
                  Depth with Door Closed (Inches)
                </a>
                </h4>
              </div>
              <div id="accordion-footer-panel-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-footer-panel-1-heading">
                <div class="panel-body">
                  <ul tabindex="0" role="navigation" class="list-menu">
                    <li role="listitem"><a href="">Careers</a></li>
                    <li role="listitem"><a href="">Company Overview</a></li>
                    <li role="listitem"><a href="">Investor Relations</a></li>
                    <li role="listitem"><a href="">Newsroom</a></li>
                    <li role="listitem"><a href="">Social Responsibility</a></li>
                    <li role="listitem"><a href="">Sustainability Policy</a></li>
                    <li role="listitem"><a href="">Ethics &amp; Compliance</a></li>
                    <li role="listitem"><a href="">Mobile Apps</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Panel -->
            <!-- Panel -->
            <div class="panel">
              <div class="panel-heading" role="tab" id="accordion-footer-panel-2-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" href="#accordion-footer-panel-2" aria-expanded="false" aria-controls="accordion-footer-panel-2" >
                  Rating
                </a>
                </h4>
              </div>
              <div id="accordion-footer-panel-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-footer-panel-2-heading">
                <div class="panel-body">
                  <ul tabindex="0" role="navigation" class="list-menu">
                    <li role="listitem"><a href="">Find a Store</a></li>
                    <li role="listitem"><a href="">Installation Services</a></li>
                    <li role="listitem"><a href="">Build &amp; Grow</a></li>
                    <li role="listitem"><a href="">Recycling Center Locator</a></li>
                    <li role="listitem"><a href="">In-Store Services</a></li>
                    <li role="listitem"><a href="">Lowe's for Pros</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Panel -->
            <!-- Panel -->
            <div class="panel">
              <div class="panel-heading" role="tab" id="accordion-footer-panel-3-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" href="#accordion-footer-panel-3" aria-expanded="true" aria-controls="accordion-footer-panel-3">
                  Widgets
                </a>
                </h4>
              </div>
              <div id="accordion-footer-panel-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-footer-panel-3-heading">
                <div class="panel-body">
                  <ul tabindex="0" role="navigation" class="list-menu">
                    <li role="listitem"><a href="">Contact Us</a></li>
                    <li role="listitem"><a href="">Lowe's Credit Card</a></li>
                    <li role="listitem"><a href="">Gift Cards</a></li>
                    <li role="listitem"><a href="">Rebates</a></li>
                    <li role="listitem"><a href="">Returns &amp; Exchanges</a></li>
                    <li role="listitem"><a href="">Shipping &amp; Delivery</a></li>
                    <li role="listitem"><a href="">Special Orders</a></li>
                    <li role="listitem"><a href="">Recalls &amp; Product Safety</a></li>
                    <li role="listitem"><a href="">Protection Plans</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Panel -->
          </div>
        </div>
        <div class="legal-copy align-center">
          <div class="grid-100">
            <p>&copy; Lowe's. All rights reserved. Lowe's and the gable design are registered trademarks of LF, LLC.</p>
            
            <div class="grid-33 tablet-grid-33 mobile-100">
              <a href="">Terms and Conditions of Use</a>
            </div>
            <div class="grid-33 tablet-grid-33 mobile-100">
              <a href="">Privacy Statement. Updated January 2015</a>
            </div>
            <div class="grid-33 tablet-grid-33 mobile-100">
              <a href="">Your California Privacy Rights</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>