<div class="hide-tablet hide-desktop">
	<header class="head v-spacing-small">
<!-- header -->
		<div class="mast v-spacing-medium">
			<div class="grid-container">
				<div class="lowes-logo align-center-slim">
					<a href="/" data-linkid="lowes-logo">
						<img src="//lda.lowes.com/is/image/Lowes/NSI_Lowes_logo_no_tagline?$JPEG-HQ$&amp;wid=94" alt="Lowe's Home Improvement Logo" aria-describedby="ada-logo-describedby">
						<span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement Home Page</span>
					</a>
				</div>
				<div class="store-info-block mobile-grid-60 grid-parent hide-on-slim" id="currentStoreWrapper">
					<div class="storeindicator">
						<!-- Zipped In -->
						<div class="store-info">
							<div class="store-hours">
								<span class="font-weight-normal black">
									Open until 10PM!
								</span>
							</div>
							<div class="store-name">
								<a href=""><span>Mooresville Lowe's <i class="icon-arrow-down"></i></span></a>
							</div>
						</div>
						<!-- Not Zipped In -->
						<div class="shop-a-store media">
							<div class="media-left media-middle">
								<a href="/store/" aria-hidden="true" tabindex="-1" role="presentation" data-linkid="find_a_store" class="pull-left js-find-a-store">
									<i class="icon-location icon-2x" aria-hidden="true" tabindex="-1" role="presentation"></i>
								</a>
							</div>
							<div class="media-body">
								<span>Welcome to Lowe's</span><br>
								<a href="/store/" data-linkid="find_a_store" class="js-find-a-store"><span>Find a Store</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation Bar - NOT the same as the Departments Navigation Panel-->
		<div class="navigation-bar clearfix hide-print hide-on-slim">
			<nav>
				<ul class="clearfix">
					<li><a class="js-nav-menu-open" href="#" title="Departments" data-linkid="departments"><i class="icon-mobile-menu" aria-hidden="true"></i>Depts.</a></li>
					<li><a class="js-nav-search-open active" href="#" title="Search" data-linkid="search"><i class="icon-search" aria-hidden="true"></i>Search</a></li>
					<li>
						<a href="/login" title="Sign In" data-linkid="sign-in" class="js-nav-menu-guest"><i class="icon-account" aria-hidden="true"></i>mylowes</a>
						<a href="/MobileWeb/web/accounthome" title="Welcome" data-linkid="signed-in" class="js-nav-menu-registered display-none"><i class="icon-account" aria-hidden="true"></i>mylowes</a>
					</li>
					<li class="cart-status">
						<a href="/cart?storeId=10702&amp;langId=-1&amp;catalogId=10051" title="Cart Count" data-linkid="cart-count" aria-describedby="ada-cart-count-describedby"><i class="icon-cart" aria-hidden="true"></i> <span class="cart-count empty" aria-hidden="true">0</span><span id="ada-cart-count-describedby" class="ada screen-reader-only">Cart with <span class="cart-count empty">0</span> items</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="masthead show-masthead hide-mobile">
	{{!-- <div class="section globalmessaging">
		<!-- Global Messaging Component -->
		<div class="lowes-info-bar background-red">
			<a href="/pl/Memorial-Day/4294863543?int_cmp=Home:A1:GlobalMessage:Corp:FW16_Shop_Memorial_Day" data-linkid="global_messaging_statement" target="_self">
				<div class="grid-container white">
					<p style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12px;">FINAL DAY: SHOP ALL MEMORIAL DAY SAVINGS + FREE PARCEL SHIPPING WITH MYLOWE'S. SHOP NOW &gt;</p>
				</div>
			</a>
		</div>
	</div> --}}
	<header class="head v-spacing-small show-masthead">
		<!-- header -->
		<div class="mast v-spacing-small">
			<div class="grid-container">
				<div class="grid-50 tablet-grid-50 grid-parent">
					<div class="lowes-logo grid-40 tablet-grid-50">
						<a href="/" data-linkid="lowes-logo" class="align-center display-block lowesBlue">
							<img src="//lda.lowes.com/is/image/Lowes/NSI_Lowes_logo_no_tagline?$JPEG-HQ$&amp;wid=147" alt="Lowe's Home Improvement Logo" aria-describedby="ada-logo-describedby">
							<span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement Home Page</span>
						</a>
					</div>
					<div class="store-info-block grid-60 tablet-grid-50 hide-on-slim" id="currentStoreWrapper">
						<div class="storeindicator">
							<!-- Zipped In -->
							<div class="store-info">
								<div class="store-hours">
									<span class="font-weight-normal black">
										Open until 10PM!
									</span>
								</div>
								<div class="store-name">
									<a href=""><span>Mooresville Lowe's <i class="icon-arrow-down"></i></span></a>
								</div>
							</div>
							<!-- Not Zipped In -->
							<div class="shop-a-store media">
								<div class="media-left media-middle">
									<a href="/store/" aria-hidden="true" tabindex="-1" role="presentation" data-linkid="find_a_store" class="pull-left js-find-a-store">
										<i class="icon-location icon-2x" aria-hidden="true" tabindex="-1" role="presentation"></i>
									</a>
								</div>
								<div class="media-body">
									<span>Welcome to Lowe's</span><br>
									<a href="/store/" data-linkid="find_a_store" class="js-find-a-store"><span>Find a Store</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-50 tablet-grid-50 hide-on-slim">
					<div class="user-nav pull-right">
						<div class="account-nav hide-print">
							<a href="#" class="js-insert-logon-frame js-guest guest" data-toggle="modal" data-target="#signinModal">
								<div class="account-info">
									<div class="pull-left">
										<i class="icon-account" aria-hidden="true"></i>
									</div>
									<div class="pull-right mylowes-info">
										<div class="mylowes-text-block">
											<span class="display-block primary-text">
												<span class="my-text">my</span>lowes
											</span>
											<span>Sign in</span>
										</div>
									</div>
								</div>
							</a>
							<div class="js-account-info account-info registered display-none">
								<a href="https://www.lowes.com:/en_us/mylowes.html" class="js-navigate-to-mylowes registered">
									<div class="account pull-left">
										<div class="pull-left">
											<i class="icon-account" aria-hidden="true"></i>
										</div>
										<div class="pull-right mylowes-info">
											<div class="mylowes-text-block">
												<span class="display-block primary-text">
													<span class="my-text">my</span>lowes
												</span>
												<span class="greeting">Hi,</span>&nbsp;
												<span class="js-account-first-name myLowesFirstName"></span>
											</div>
										</div>
									</div>
								</a>
								<a href="#" class="js-registered" data-linkid="sign_out">
									<div class="signout-mylowes pull-left">
										<span class="js-signout">Sign Out</span>
									</div>
								</a>
							</div>
						</div>
						<div id="signinModal" class="account-drawer modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<div class=" clearfix" data-drawer="account">
											<div class="grid-55 tablet-grid-55">
												<div class="login">
													<span class="h1 position-centered mylowes-tm v-spacing-large">my<span class="strong">lowes</span></span>
													<div class="accessmylowes">
														<div class="signin-container">
															<div class="js-accessmylowes account-carousel" data-message="<p>Thanks!</p>
															<p>Check your email for a link to reset your password. <strong> The link will expire in 30 minutes. </strong> If you don't see the email, be sure to check your spam and junk mail folders.</p>
															" data-options="{&quot;inModal&quot;:true}">
															<div class="grid-100 tablet-grid-100 mobile-grid-100">
																<div class="js-account-login">
																	<span id="ada-login-form-labelledby" class="ada screen-reader-only">Login</span>
																	<form id="login" class="js-login-form v-spacing-small" aria-labelledby="ada-login-form" role="form" autocomplete="on" method="post" novalidate="novalidate">
																		<div class="form-group">
																			<input aria-labelledby="ada-login-email-labelledby" name="email" type="email" class="form-control" id="logon-email-input" placeholder="Email Address" autocompletetype="email">
																			<span class="inline-help" hidden="" aria-hidden="true">yourname@email.com</span>
																			<span id="ada-login-email-labelledby" class="ada screen-reader-only" hidden="" aria-hidden="true">Please Enter Your Email Address</span>
																		</div>
																		<div class="form-group v-spacing-large">
																			<input aria-labelledby="ada-login-password-labelledby" type="password" name="password-input" class="form-control" id="logon-password-input" placeholder="Password">
																			<span hidden="" class="inline-help" aria-hidden="true">Enter Your Password</span>
																			<span id="ada-login-password-labelledby" class="ada screen-reader-only" hidden="" aria-hidden="true">Enter Your Password</span>
																		</div>
																		<button class="btn btn-primary js-sign-in btn-block" data-linkid="sign_in" type="submit">Sign In</button>
																	</form>
																	<div class="align-center">
																		<a href="#" class="js-goto-forgot link-small">Forgot Your Password?</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="joinmylowes">
											<div class="grid-45 tablet-grid-45">
												<!-- Join mylowes authorable section -->
												<div class="join-mylowes">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icon-close"></i></button>
													<h3>Join my<span class="mylowes-tm">lowes</span></h3>
													<div class="trench no-background no-border v-spacing-jumbo">
														<ul tabindex="0" role="list" class="list icon darkerGrey">
															<li role="listitem">
																<i class="icon-todo" aria-hidden="true"></i>Free Standard Parcel Shipping With MyLowe’s.
															</li>
															<li role="listitem">
																<i class="icon-todo" aria-hidden="true"></i>Track your in-store purchases.
															</li>
															<li role="listitem">
																<i class="icon-todo" aria-hidden="true"></i>Make returns without a receipt.
															</li>
															<li role="listitem">
																<i class="icon-todo" aria-hidden="true"></i>Access your saved products.
															</li>
														</ul>
													</div>
													<!-- Authorable Join now links -->
													<div class="bottom-links align-center">
														<a href="/mylowes/register" data-window="external" data-linkid="join_now" class="btn btn-secondary btn-block v-spacing-small">JOIN NOW</a>
														<a href="/webapp/wcs/stores/servlet/UserRegistrationForm?langId=-1&amp;storeId=10151&amp;catalogId=10051&amp;new=Y&amp;cm_sp=NoDivision-_-MyLowesLP|A0-_-Corp|MyLowes_SignUp_Button" data-window="external" data-linkid="need_to_register_your_card">Need to register your card?</a>
													</div>
												</div>
											</div></div>
										</div>
									</div>
									<div class="modal-footer">
										<div class="par parsys"><div class="parbase section bannerreference">
											<div class="banner_reference">
												<div style="display:inline;" class="cq-dd-paragraph">
													<div class="v-spacing-large scaled_banner_container met-component-banner">
														<a href="/cd_Lowes+Consumer+Credit+Center_739786611_?storeId=10151&amp;langId=-1&amp;catalogId=10051" target="_top">
															<div class="s7_banner" data-url="#">
																<img class="content scaled_banner_background_image" alt="Looking to pay your Lowe's Consumer Credit Card?" src="//lda.lowes.com/is/image/Lowes/sign-in-banner?scl=1&amp;201605121648">
															</div>
														</a>
														<div class="s7_banner copyTA">
															<div class="banner_text scaled_hidden_text">
															</div>
															<div class="trench no-background no-border align-left get_details">
															</div>
														</div>
													</div>
												</div>
											</div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cart-status hide-print">
							<a href="/cart" class="display-block" title="Cart Count" data-linkid="cart-count" aria-describedby="ada-cart-count-describedby"><i class="icon-cart" aria-hidden="true"></i> <span class="cart-count empty" aria-hidden="true">0</span><span id="ada-cart-count-describedby" class="ada screen-reader-only">Cart with <span class="cart-count empty">0</span> items</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="large display-none show-on-slim">
		<!-- Navigation Bar -->
		<div class="navigation-bar js-navigation-bar hide-print hide-on-slim">
			<div class="grid-container">
				<div class="parbase mastheadcategory">
					<nav class="grid-25 tablet-grid-30" role="navigation" aria-label="Departments Navigation">
						<ul class="lowes-menu clearfix" role="menubar" title="Departments" aria-controls="st1">
							<h2 class="ada screen-reader-only">Departments Navigation</h2>
							<li id="mainNavigation" class="menu-icon js-departments-nav-open" role="menuitem" tabindex="0" aria-haspopup="true">
								<i class="icon-mobile-menu" aria-hidden="true"></i>
								<a class="nav-heading" aria-hidden="true">Departments</a>
								<i class="icon-arrow-down" aria-hidden="true"></i>
								<div class="flyouts">
									<ul class="cat-menu js-departments-menu list-menu no-wrapper" role="menu">
										<li class="js-departments-category" data-flyout-name="Appliances" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Appliances" title="Appliances" data-linkid="appliances" aria-haspopup="true" aria-expanded="false">Appliances</a>
											<ul class="flyout-menu js-flyout-component Appliances">
												<li><span>Appliances</span></li>
												<li class="js-flyout-category"><a href="/pl/Refrigerators-Appliances/4294857973" title="Refrigerators"><span>Refrigerators</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Washers-dryers-Appliances/4294857981" title="Washers &amp; Dryers"><span>Washers &amp; Dryers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Ranges-Appliances/4294715792" title="Ranges"><span>Ranges</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Dishwashers-Appliances/4294857925" title="Dishwashers"><span>Dishwashers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Microwaves-Appliances/4294715798" title="Microwaves"><span>Microwaves</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Vacuum-cleaners-floor-care-Appliances/4294810320" title="Vacuum Cleaners &amp; Floor Care"><span>Vacuum Cleaners &amp; Floor Care</span></a></li>
												<li class="js-flyout-category"><a href="/c/Range-hoods-Appliances" title="Range Hoods"><span>Range Hoods</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Appliance-parts-accessories-Appliances/4294857922" title="Appliance Parts &amp; Accessories"><span>Appliance Parts &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Cooktops-Appliances" title="Cooktops"><span>Cooktops</span></a></li>
												<li class="js-flyout-category"><a href="/c/Wall-ovens-Appliances" title="Wall Ovens"><span>Wall Ovens</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Freezers-ice-makers-Appliances/4294857904" title="Freezers &amp; Ice Makers"><span>Freezers &amp; Ice Makers</span></a></li>
												<li class="js-flyout-category"><a href="/c/Small-appliances-Appliances" title="Small Appliances"><span>Small Appliances</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Garbage-disposals-Appliances/4294639585" title="Garbage Disposals"><span>Garbage Disposals</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Beverage-centers-wine-chillers-Appliances/4294857985" title="Beverage Centers &amp; Wine Chillers"><span>Beverage Centers &amp; Wine Chillers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Water-coolers-Appliances/4294707766" title="Water Coolers"><span>Water Coolers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Trash-compactors-Appliances/4294639583" title="Trash Compactors"><span>Trash Compactors</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Commercial-appliances-Appliances/4294386835" title="Commercial Appliances"><span>Commercial Appliances</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Bathroom" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Bathroom" title="Bathroom" data-linkid="bathroom" aria-haspopup="true">Bathroom</a>
											<ul class="flyout-menu js-flyout-component Bathroom">
												<li><span>Bathroom</span></li>
												<li class="js-flyout-category"><a href="/pl/Bathroom-faucets-shower-heads-Bathroom/3586055316" title="Bathroom Faucets &amp; Shower Heads"><span>Bathroom Faucets &amp; Shower Heads</span></a></li>
												<li class="js-flyout-category"><a href="/c/Bathroom-vanities-vanity-tops-Bathroom" title="Bathroom Vanities &amp; Vanity Tops"><span>Bathroom Vanities &amp; Vanity Tops</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Showers-shower-accessories-Bathroom/4294737265" title="Showers &amp; Shower Accessories"><span>Showers &amp; Shower Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Bathtubs-whirlpool-tubs-Bathroom" title="Bathtubs &amp; Whirlpool Tubs"><span>Bathtubs &amp; Whirlpool Tubs</span></a></li>
												<li class="js-flyout-category"><a href="/c/Toilets-toilet-seats-Bathroom" title="Toilets &amp; Toilet Seats"><span>Toilets &amp; Toilet Seats</span></a></li>
												<li class="js-flyout-category"><a href="/c/Bathroom-accessories-hardware-Bathroom" title="Bathroom Accessories &amp; Hardware"><span>Bathroom Accessories &amp; Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bathroom-storage-Bathroom/4294737170" title="Bathroom Storage"><span>Bathroom Storage</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bathroom-pedestal-sinks-Bathroom/4294737304" title="Bathroom &amp; Pedestal Sinks"><span>Bathroom &amp; Pedestal Sinks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bathroom-mirrors-Bathroom/4294737205" title="Bathroom Mirrors"><span>Bathroom Mirrors</span></a></li>
												<li class="js-flyout-category"><a href="/c/Bathroom-safety-Bathroom" title="Bathroom Safety"><span>Bathroom Safety</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bathroom-handles-Bathroom/1542592347" title="Bathroom Handles"><span>Bathroom Handles</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Commercial-bathroom-components-Bathroom/4294737179" title="Commercial Bathroom Components"><span>Commercial Bathroom Components</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Saunas-components-Bathroom/4294736334" title="Saunas &amp; Components"><span>Saunas &amp; Components</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Building-supplies" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Building-supplies" title="Building Supplies" data-linkid="building_supplies" aria-haspopup="true">Building Supplies</a>
											<ul class="flyout-menu js-flyout-component Building-supplies">
												<li><span>Building Supplies</span></li>
												<li class="js-flyout-category"><a href="/pl/Lumber-composites-Building-supplies/4294934154" title="Lumber &amp; Composites"><span>Lumber &amp; Composites</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Fencing-gates-Building-supplies/4294858178" title="Fencing &amp; Gates"><span>Fencing &amp; Gates</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Decking-porches-Building-supplies/4294858359" title="Decking &amp; Porches"><span>Decking &amp; Porches</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Siding-stone-veneer-Building-supplies/4294934233" title="Siding &amp; Stone Veneer"><span>Siding &amp; Stone Veneer</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Roofing-Building-supplies/4294934230" title="Roofing"><span>Roofing</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Insulation-accessories-Building-supplies/4294925567" title="Insulation &amp; Accessories"><span>Insulation &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Stairs-railings-Building-supplies" title="Stairs &amp; Railings"><span>Stairs &amp; Railings</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Drywall-Building-supplies/4294864808" title="Drywall"><span>Drywall</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Ventilation-Building-supplies/4294858190" title="Ventilation"><span>Ventilation</span></a></li>
												<li class="js-flyout-category"><a href="/c/Ceilings-Building-supplies" title="Ceilings"><span>Ceilings</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Gutters-accessories-Building-supplies/4294524350" title="Gutters &amp; Accessories"><span>Gutters &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Glass-acrylic-Building-supplies/4294713161" title="Glass &amp; Acrylic"><span>Glass &amp; Acrylic</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Columns-accessories-Building-supplies/4294425046" title="Columns &amp; Accessories"><span>Columns &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Erosion-control-Building-supplies/4294653871" title="Erosion Control"><span>Erosion Control</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Jack-posts-Building-supplies/4294515331" title="Jack Posts"><span>Jack Posts</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Permit-boxes-Building-supplies/4294934208" title="Permit Boxes"><span>Permit Boxes</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Windows-doors" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/pl/Windows-doors/4294937086" title="Doors &amp; Windows" data-linkid="doors___windows" aria-haspopup="true">Doors &amp; Windows</a>
											<ul class="flyout-menu js-flyout-component Windows-doors">
												<li><span>Windows &amp; Doors</span></li>
												<li class="js-flyout-category"><a href="/c/Exterior-doors-Windows-doors" title="Exterior Doors"><span>Exterior Doors</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Windows-Windows-doors/4294858060" title="Windows"><span>Windows</span></a></li>
												<li class="js-flyout-category"><a href="/c/Interior-doors-Windows-doors" title="Interior Doors"><span>Interior Doors</span></a></li>
												<li class="js-flyout-category"><a href="/c/Garage-doors-openers-Windows-doors" title="Garage Doors &amp; Openers"><span>Garage Doors &amp; Openers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Exterior-shutters-accessories-Windows-doors/4294775790" title="Exterior Shutters &amp; Accessories"><span>Exterior Shutters &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Replacement-screens-tools-Windows-doors/3758493263" title="Replacement Screens &amp; Tools"><span>Replacement Screens &amp; Tools</span></a></li>
												<li class="js-flyout-category"><a href="/c/Awnings-accessories-Windows-doors" title="Awnings &amp; Accessories"><span>Awnings &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Weatherstripping-Windows-doors/4294929691" title="Weatherstripping"><span>Weatherstripping</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Hurricane-shutter-panels-Windows-doors/4294858024" title="Hurricane Shutter Panels"><span>Hurricane Shutter Panels</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Electrical" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Electrical" title="Electrical" data-linkid="electrical" aria-haspopup="true" aria-expanded="false">Electrical</a>
											<ul class="flyout-menu js-flyout-component Electrical">
												<li><span>Electrical</span></li>
												<li class="js-flyout-category"><a href="/pl/Circuit-breakers-breaker-boxes-fuses-Electrical/397309813" title="Circuit Breakers, Breaker Boxes &amp; Fuses"><span>Circuit Breakers, Breaker Boxes &amp; Fuses</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Electrical-wire-cable-Electrical/4294722493" title="Electrical Wire &amp; Cable"><span>Electrical Wire &amp; Cable</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Wall-plates-jacks-Electrical/567192500" title="Wall Plates &amp; Jacks"><span>Wall Plates &amp; Jacks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Electrical-boxes-covers-Electrical/4294653960" title="Electrical Boxes &amp; Covers"><span>Electrical Boxes &amp; Covers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Home-automation-security-Electrical/4294719511" title="Home Automation &amp; Security"><span>Home Automation &amp; Security</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Conduit-conduit-fittings-Electrical/4294653950" title="Conduit &amp; Conduit Fittings"><span>Conduit &amp; Conduit Fittings</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Cords-surge-protectors-Electrical/4294542242" title="Cords &amp; Surge Protectors"><span>Cords &amp; Surge Protectors</span></a></li>
												<li class="js-flyout-category"><a href="/c/Light-switches-dimmers-Electrical" title="Light Switches &amp; Dimmers"><span>Light Switches &amp; Dimmers</span></a></li>
												<li class="js-flyout-category"><a href="/c/Electrical-outlets-adapters-Electrical" title="Electrical Outlets &amp; Adapters"><span>Electrical Outlets &amp; Adapters</span></a></li>
												<li class="js-flyout-category"><a href="/c/Electrical-testers-tools-Electrical" title="Electrical Testers &amp; Tools"><span>Electrical Testers &amp; Tools</span></a></li>
												<li class="js-flyout-category"><a href="/c/Generators-Electrical" title="Generators"><span>Generators</span></a></li>
												<li class="js-flyout-category"><a href="/c/Home-audio-video-Electrical" title="Home Audio &amp; Video"><span>Home Audio &amp; Video</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Cable-wire-connectors-Electrical/4294722554" title="Cable &amp; Wire Connectors"><span>Cable &amp; Wire Connectors</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Doorbells-Electrical/4294710780" title="Doorbells"><span>Doorbells</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Smoke-carbon-monoxide-radon-detectors-Electrical/4294722466" title="Smoke, Carbon Monoxide &amp; Radon Detectors"><span>Smoke, Carbon Monoxide &amp; Radon Detectors</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Batteries-Electrical/4294713148" title="Batteries"><span>Batteries</span></a></li>
												<li class="js-flyout-category"><a href="/c/Electrical" title="Shop All Electrical"><span class="strong">Shop All Electrical</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Flooring" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Flooring" title="Flooring" data-linkid="flooring" aria-haspopup="true" aria-expanded="false">Flooring</a>
											<ul class="flyout-menu js-flyout-component Flooring">
												<li><span>Flooring</span></li>
												<li class="js-flyout-category"><a href="/pl/Tile-tile-accessories-Flooring/4294856526" title="Tile &amp; Tile Accessories"><span>Tile &amp; Tile Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Carpet-carpet-tile-Flooring/4294934338" title="Carpet &amp; Carpet Tile"><span>Carpet &amp; Carpet Tile</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Vinyl-flooring-Flooring/4294856531" title="Vinyl Flooring"><span>Vinyl Flooring</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Laminate-flooring-accessories-Flooring/4294856499" title="Laminate Flooring &amp; Accessories"><span>Laminate Flooring &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Floor-moulding-trim-Flooring/4294518245" title="Floor Moulding &amp; Trim"><span>Floor Moulding &amp; Trim</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Hardwood-flooring-accessories-Flooring/4294856494" title="Hardwood Flooring &amp; Accessories"><span>Hardwood Flooring &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Grout-mortar-Flooring" title="Grout &amp; Mortar"><span>Grout &amp; Mortar</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Flooring-underlayment-Flooring/4294418636" title="Flooring Underlayment"><span>Flooring Underlayment</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Surface-preparation-Flooring/4294859046" title="Surface Preparation"><span>Surface Preparation</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Wall-base-Flooring/4294928893" title="Wall Base"><span>Wall Base</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Underfloor-heating-Flooring/4294856527" title="Underfloor Heating"><span>Underfloor Heating</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Multipurpose-flooring-Flooring/4294515431" title="Multipurpose Flooring"><span>Multipurpose Flooring</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Garage-flooring-Flooring/4294642654" title="Garage Flooring"><span>Garage Flooring</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Attic-flooring-panels-Flooring/4294402525" title="Attic Flooring Panels"><span>Attic Flooring Panels</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Hardware" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Hardware" title="Hardware" data-linkid="hardware" aria-haspopup="true">Hardware</a>
											<ul class="flyout-menu js-flyout-component Hardware">
												<li><span>Hardware</span></li>
												<li class="js-flyout-category"><a href="/pl/Fasteners-Hardware/4294925630" title="Fasteners"><span>Fasteners</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Door-hardware-Hardware/4294766248" title="Door Hardware"><span>Door Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Cabinet-hardware-Hardware/4294777206" title="Cabinet Hardware"><span>Cabinet Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Structural-hardware-Hardware/4294711043" title="Structural Hardware"><span>Structural Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Chains-ropes-tie-downs-Hardware/4294934403" title="Chains, Ropes &amp; Tie-Downs"><span>Chains, Ropes &amp; Tie-Downs</span></a></li>
												<li class="js-flyout-category"><a href="/c/Mailboxes-mailbox-posts-Hardware" title="Mailboxes &amp; Mailbox Posts"><span>Mailboxes &amp; Mailbox Posts</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Furniture-hardware-Hardware/4294711128" title="Furniture Hardware"><span>Furniture Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Gate-hardware-Hardware/4294856551" title="Gate Hardware"><span>Gate Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Signs-letters-numbers-Hardware/4294711114" title="Signs, Letters &amp; Numbers"><span>Signs, Letters &amp; Numbers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Window-hardware-Hardware/4294711110" title="Window Hardware"><span>Window Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Safes-Hardware/4294806353" title="Safes"><span>Safes</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Keys-key-safes-Hardware/4294711033" title="Keys &amp; Key Safes"><span>Keys &amp; Key Safes</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Picture-hangers-Hardware/4294710790" title="Picture Hangers"><span>Picture Hangers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Specialty-hardware-Hardware/4294711047" title="Specialty Hardware"><span>Specialty Hardware</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Hardware-lubricants-Hardware/4294607587" title="Hardware Lubricants"><span>Hardware Lubricants</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Locks-Hardware/4294400565" title="Locks"><span>Locks</span></a></li>
												<li class="js-flyout-category"><a href="/c/Hardware" title="Shop All Hardware"><span class="strong">Shop All Hardware</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Heating-cooling" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Heating-cooling" title="Heating &amp; Cooling" data-linkid="heating___cooling" aria-haspopup="true" aria-expanded="false">Heating &amp; Cooling</a>
											<ul class="flyout-menu js-flyout-component Heating-cooling">
												<li><span>Heating &amp; Cooling</span></li>
												<li class="js-flyout-category"><a href="/c/Air-conditioners-fans-Heating-cooling" title="Air Conditioners &amp; Fans"><span>Air Conditioners &amp; Fans</span></a></li>
												<li class="js-flyout-category"><a href="/c/Fireplaces-stoves-Heating-cooling" title="Fireplaces &amp; Stoves"><span>Fireplaces &amp; Stoves</span></a></li>
												<li class="js-flyout-category"><a href="/c/Air-filters-accessories-Heating-cooling" title="Air Filters &amp; Accessories"><span>Air Filters &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Registers-grilles-Heating-cooling" title="Registers &amp; Grilles"><span>Registers &amp; Grilles</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Portable-space-heaters-Heating-cooling/3897400963" title="Portable &amp; Space Heaters"><span>Portable &amp; Space Heaters</span></a></li>
												<li class="js-flyout-category"><a href="/pl/HVAC-duct-fittings-Heating-cooling/4294512241" title="HVAC Duct &amp; Fittings"><span>HVAC Duct &amp; Fittings</span></a></li>
												<li class="js-flyout-category"><a href="/c/Thermostats-Heating-cooling" title="Thermostats"><span>Thermostats</span></a></li>
												<li class="js-flyout-category"><a href="/c/Humidifiers-dehumidifiers-Heating-cooling" title="Humidifiers &amp; Dehumidifiers"><span>Humidifiers &amp; Dehumidifiers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Air-purifiers-accessories-Heating-cooling/4294856705" title="Air Purifiers &amp; Accessories"><span>Air Purifiers &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Furnaces-furnace-accessories-Heating-cooling/4294618086" title="Furnaces &amp; Furnace Accessories"><span>Furnaces &amp; Furnace Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Heat-pumps-Heating-cooling/4294618089" title="Heat Pumps"><span>Heat Pumps</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Radiator-covers-Heating-cooling/4294395587" title="Radiator Covers"><span>Radiator Covers</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Home-decor" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/pl/Home-decor/4294935484" title="Home Decor &amp; Furniture" data-linkid="home_decor___furniture" aria-haspopup="true">Home Decor &amp; Furniture</a>
											<ul class="flyout-menu js-flyout-component Home-decor">
												<li><span>Home Decor</span></li>
												<li class="js-flyout-category"><a href="/c/Area-rugs-mats-Home-decor" title="Area Rugs &amp; Mats"><span>Area Rugs &amp; Mats</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Blinds-window-treatments-Home-decor/4294856891" title="Blinds &amp; Window Treatments"><span>Blinds &amp; Window Treatments</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Furniture-Home-decor/4294856755" title="Furniture"><span>Furniture</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Mirrors-mirror-accessories-Home-decor/4294856763" title="Mirrors &amp; Mirror Accessories"><span>Mirrors &amp; Mirror Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Wallpaper-wallpaper-accessories-Home-decor" title="Wallpaper &amp; Wallpaper Accessories"><span>Wallpaper &amp; Wallpaper Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Home-accents-Home-decor/4294896167" title="Home Accents"><span>Home Accents</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Wall-art-Home-decor/4294715775" title="Wall Art"><span>Wall Art</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bedding-Home-decor/4294742228" title="Bedding"><span>Bedding</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Throw-pillows-Home-decor/4294794067" title="Throw Pillows"><span>Throw Pillows</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Kitchen" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Kitchen" title="Kitchen" data-linkid="kitchen" aria-haspopup="true">Kitchen</a>
											<ul class="flyout-menu js-flyout-component Kitchen">
												<li><span>Kitchen</span></li>
												<li class="js-flyout-category"><a href="/pl/Kitchen-faucets-water-dispensers-Kitchen/3231755289" title="Kitchen Faucets &amp; Water Dispensers"><span>Kitchen Faucets &amp; Water Dispensers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Kitchen-bar-sinks-Kitchen/4294735693" title="Kitchen &amp; Bar Sinks"><span>Kitchen &amp; Bar Sinks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Kitchen-cabinetry-Kitchen/4294735668" title="Kitchen Cabinetry"><span>Kitchen Cabinetry</span></a></li>
												<li class="js-flyout-category"><a href="/c/Kitchen-countertops-accessories-Kitchen" title="Kitchen Countertops &amp; Accessories"><span>Kitchen Countertops &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Kitchen-sink-accessories-Kitchen/4294506763" title="Kitchen Sink Accessories"><span>Kitchen Sink Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Backsplash-panels-Kitchen/4294395588" title="Backsplash Panels"><span>Backsplash Panels</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Cookware-Kitchen/4294606024" title="Cookware"><span>Cookware</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Lawn-garden" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/l/lawn-garden.html" title="Lawn &amp; Garden" data-linkid="lawn___garden" aria-haspopup="true" aria-expanded="false">Lawn &amp; Garden</a>
											<ul class="flyout-menu js-flyout-component Lawn-garden">
												<li><span>Lawn &amp; Garden</span></li>
												<li class="js-flyout-category"><a href="/c/Outdoor-tools-equipment-Outdoors" title="Outdoor Power Equipment"><span>Outdoor Power Equipment</span></a></li>
												<li class="js-flyout-category"><a href="/l/gardencenter.html" title="Garden Center"><span>Garden Center</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Mulch-rock-soil-Outdoors/4294612794" title="Mulch, Rock &amp; Soil"><span>Mulch, Rock &amp; Soil</span></a></li>
												<li class="js-flyout-category"><a href="/c/Fertilizer-weed-control-Outdoors" title="Fertilizer &amp; Weed Control"><span>Fertilizer &amp; Weed Control</span></a></li>
												<li class="js-flyout-category"><a href="/c/Grass-grass-seed-Outdoors" title="Grass &amp; Grass Seed"><span>Grass &amp; Grass Seed</span></a></li>
												<li class="js-flyout-category"><a href="/c/Pavers-retaining-walls-Outdoors" title="Patio Pavers &amp; Retaining Walls"><span>Patio Pavers &amp; Retaining Walls</span></a></li>
												<li class="js-flyout-category"><a href="/c/Watering-irrigation-drainage-Outdoors" title="Watering, Irrigation &amp; Drainage"><span>Watering, Irrigation &amp; Drainage</span></a></li>
												<li class="js-flyout-category"><a href="/c/Lawn-garden-hand-tools-Outdoor-tools-equipment-Outdoors" title="Lawn &amp; Garden Hand Tools"><span>Lawn &amp; Garden Hand Tools</span></a></li>
												<li class="js-flyout-category"><a href="/c/Insect-pest-control-Outdoors" title="Insect &amp; Pest Control"><span>Insect &amp; Pest Control</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Lighting-ceiling-fans" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/pl/Lighting-ceiling-fans/4294935637" title="Lighting &amp; Ceiling Fans" data-linkid="lighting___ceiling_fans" aria-haspopup="true" aria-expanded="false">Lighting &amp; Ceiling Fans</a>
											<ul class="flyout-menu js-flyout-component Lighting-ceiling-fans">
												<li><span>Lighting &amp; Ceiling Fans</span></li>
												<li class="js-flyout-category"><a href="/c/Ceiling-fans-accessories-Lighting-ceiling-fans" title="Ceiling Fans &amp; Accessories"><span>Ceiling Fans &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Hanging-lights-Lighting-ceiling-fans" title="Hanging Lights"><span>Hanging Lights</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Outdoor-lighting-Lighting-ceiling-fans/4294857035" title="Outdoor Lighting"><span>Outdoor Lighting</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bathroom-wall-lighting-Lighting-ceiling-fans/4294798247" title="Bathroom &amp; Wall Lighting"><span>Bathroom &amp; Wall Lighting</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Flush-mount-lighting-Lighting-ceiling-fans/4294566040" title="Flush Mount Lighting"><span>Flush Mount Lighting</span></a>=</li>
												<li class="js-flyout-category"><a href="/pl/Light-bulbs-Lighting-ceiling-fans/4294801215" title="Light Bulbs"><span>Light Bulbs</span></a></li>
												<li class="js-flyout-category"><a href="/c/Lamps-lamp-shades-Lighting-ceiling-fans" title="Lamps &amp; Lamp Shades"><span>Lamps &amp; Lamp Shades</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Recessed-lighting-Lighting-ceiling-fans/4294566032" title="Recessed Lighting"><span>Recessed Lighting</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Work-shop-lights-Lighting-ceiling-fans/4294857041" title="Work &amp; Shop Lights"><span>Work &amp; Shop Lights</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Lighting-parts-accessories-Lighting-ceiling-fans/4294925669" title="Lighting Parts &amp; Accessories"><span>Lighting Parts &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Under-cabinet-lighting-Lighting-ceiling-fans/4294690587" title="Under Cabinet Lighting"><span>Under Cabinet Lighting</span></a></li>
												<li class="js-flyout-category"><a href="/c/Track-lighting-Lighting-ceiling-fans" title="Track Lighting"><span>Track Lighting</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Novelty-lighting-Lighting-ceiling-fans/4294566036" title="Novelty Lighting"><span>Novelty Lighting</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Night-lights-Lighting-ceiling-fans/4294857028" title="Night Lights"><span>Night Lights</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Moulding-millwork" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/pl/Moulding-millwork/4294518252" title="Moulding &amp; Trim" data-linkid="moulding___trim" aria-haspopup="true">Moulding &amp; Trim</a>
											<ul class="flyout-menu js-flyout-component Moulding-millwork">
												<li><span>Moulding &amp; Millwork</span></li>
												<li class="js-flyout-category"><a href="/pl/Wall-panels-planks-Moulding-millwork/4294518228" title="Wall Panels &amp; Planks"><span>Wall Panels &amp; Planks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Baseboard-moulding-blocks-Moulding-millwork/373065768" title="Baseboard Moulding &amp; Blocks"><span>Baseboard Moulding &amp; Blocks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Window-door-trim-Moulding-millwork/4294518224" title="Window &amp; Door Trim"><span>Window &amp; Door Trim</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Crown-moulding-blocks-Moulding-millwork/4294518248" title="Crown Moulding &amp; Blocks"><span>Crown Moulding &amp; Blocks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Moulding-accents-Moulding-millwork/4294518238" title="Moulding Accents"><span>Moulding Accents</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Chair-rail-moulding-blocks-Moulding-millwork/4294518251" title="Chair Rail Moulding &amp; Blocks"><span>Chair Rail Moulding &amp; Blocks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Round-moulding-Moulding-millwork/4294518229" title="Round Moulding"><span>Round Moulding</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Dowels-dowel-pins-Moulding-millwork/4294402555" title="Dowels &amp; Dowel Pins"><span>Dowels &amp; Dowel Pins</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Square-lattice-moulding-Moulding-millwork/3250133351" title="Square &amp; Lattice Moulding"><span>Square &amp; Lattice Moulding</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Picture-frame-moulding-Moulding-millwork/4294518230" title="Picture Frame Moulding"><span>Picture Frame Moulding</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Bathtub-moulding-Moulding-millwork/4294518217" title="Bathtub Moulding"><span>Bathtub Moulding</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Outdoor-living" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/l/outdoor-living.html" title="Outdoor Living" data-linkid="outdoor_living" aria-haspopup="true" aria-expanded="false">Outdoor Living</a>
											<ul class="flyout-menu js-flyout-component Outdoor-living">
												<li><span>Outdoor Living</span></li>
												<li class="js-flyout-category"><a href="/c/Patio-furniture-Outdoors" title="Patio Furniture"><span>Patio Furniture</span></a></li>
												<li class="js-flyout-category"><a href="/c/Grills-outdoor-cooking-Outdoors" title="Grills &amp; Outdoor Cooking"><span>Grills &amp; Outdoor Cooking</span></a></li>
												<li class="js-flyout-category"><a href="/c/Fire-pits-patio-heaters-Outdoors" title="Fire Pits &amp; Patio Heaters"><span>Fire Pits &amp; Patio Heaters</span></a></li>
												<li class="js-flyout-category"><a href="/c/Pools-hot-tubs-Outdoors" title="Pools &amp; Hot Tubs"><span>Pools &amp; Hot Tubs</span></a></li>
												<li class="js-flyout-category"><a href="/c/Gazebos-pergolas-canopies-Patio-furniture-Outdoors" title="Gazebos, Pergolas &amp; Canopies"><span>Gazebos, Pergolas &amp; Canopies</span></a></li>
												<li class="js-flyout-category"><a href="/c/Garden-decor-Outdoors" title="Garden Décor"><span>Garden Décor</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Paint" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Paint" title="Paint" data-linkid="paint" aria-haspopup="true">Paint</a>
											<ul class="flyout-menu js-flyout-component Paint">
												<li><span>Paint</span></li>
												<li class="js-flyout-category"><a href="/c/Paints-primers-Paint" title="Paints &amp; Primers"><span>Paints &amp; Primers</span></a></li>
												<li class="js-flyout-category"><a href="/c/Paint-supplies-Paint" title="Paint Supplies"><span>Paint Supplies</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Exterior-stains-floor-coatings-Paint/778325488" title="Exterior Stains &amp; Floor Coatings"><span>Exterior Stains &amp; Floor Coatings</span></a></li>
												<li class="js-flyout-category"><a href="/c/Spray-paint-accessories-Paint" title="Spray Paint &amp; Accessories"><span>Spray Paint &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Caulking-Paint/4294729417" title="Caulking"><span>Caulking</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Interior-stains-finishes-Paint/1738513883" title="Interior Stains &amp; Finishes"><span>Interior Stains &amp; Finishes</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Patching-repair-Paint/4294729323" title="Patching &amp; Repair"><span>Patching &amp; Repair</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Cleaners-chemicals-Paint/4294729410" title="Cleaners &amp; Chemicals"><span>Cleaners &amp; Chemicals</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Resurfacing-kits-Paint/4294408752" title="Resurfacing Kits"><span>Resurfacing Kits</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Plumbing" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/c/Plumbing" title="Plumbing" data-linkid="plumbing" aria-haspopup="true">Plumbing</a>
											<ul class="flyout-menu js-flyout-component Plumbing">
												<li><span>Plumbing</span></li>
												<li class="js-flyout-category"><a href="/c/Pipe-fittings-Plumbing" title="Pipe &amp; Fittings"><span>Pipe &amp; Fittings</span></a></li>
												<li class="js-flyout-category"><a href="/c/Plumbing-parts-repair-Plumbing" title="Plumbing Parts &amp; Repair"><span>Plumbing Parts &amp; Repair</span></a></li>
												<li class="js-flyout-category"><a href="/c/Water-heaters-Plumbing" title="Water Heaters"><span>Water Heaters</span></a></li>
												<li class="js-flyout-category"><a href="/c/Valves-valve-repair-Plumbing" title="Valves &amp; Valve Repair"><span>Valves &amp; Valve Repair</span></a></li>
												<li class="js-flyout-category"><a href="/c/Water-pumps-tanks-Plumbing" title="Water Pumps &amp; Tanks"><span>Water Pumps &amp; Tanks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Water-filtration-water-softeners-Plumbing/4294857204" title="Water Filtration &amp; Water Softeners"><span>Water Filtration &amp; Water Softeners</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Supply-lines-Plumbing/1149069550" title="Supply Lines"><span>Supply Lines</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Plumbing-tools-cements-Plumbing/4294607602" title="Plumbing Tools &amp; Cements"><span>Plumbing Tools &amp; Cements</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Utility-sinks-faucets-Plumbing/4294639563" title="Utility Sinks &amp; Faucets"><span>Utility Sinks &amp; Faucets</span></a></li>
												<li class="js-flyout-category"><a href="/c/Augers-plungers-drain-openers-Plumbing" title="Augers, Plungers &amp; Drain Openers"><span>Augers, Plungers &amp; Drain Openers</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/l/smart-home.html" title="Smart Home &amp; Security" data-linkid="smart_home___security">Smart Home &amp; Security</a>
										</li>
										<li class="js-departments-category" data-flyout-name="Storage-organization" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/pl/Storage-organization/4294936624" title="Storage &amp; Organization" data-linkid="storage___organization" aria-haspopup="true">Storage &amp; Organization</a>
											<ul class="flyout-menu js-flyout-component Storage-organization">
												<li><span>Storage &amp; Organization</span></li>
												<li class="js-flyout-category"><a href="/pl/Closet-organization-Storage-organization/4294857752" title="Closet Organization"><span>Closet Organization</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Shelves-shelving-Storage-organization/4294936608" title="Shelves &amp; Shelving"><span>Shelves &amp; Shelving</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Garage-organization-Storage-organization/4294857690" title="Garage Organization"><span>Garage Organization</span></a></li>
												<li class="js-flyout-category"><a href="/c/Kitchen-organization-Storage-organization" title="Kitchen Organization"><span>Kitchen Organization</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Baskets-storage-containers-Storage-organization/4294936623" title="Baskets &amp; Storage Containers"><span>Baskets &amp; Storage Containers</span></a></li>
												<li class="js-flyout-category"><a href="/c/Moving-boxes-supplies-Storage-organization" title="Moving Boxes &amp; Supplies"><span>Moving Boxes &amp; Supplies</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Hooks-racks-Storage-organization/4294936564" title="Hooks &amp; Racks"><span>Hooks &amp; Racks</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Utility-storage-cabinets-Storage-organization/3721327500" title="Utility Storage Cabinets"><span>Utility Storage Cabinets</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Laundry-organization-Storage-organization/4294857708" title="Laundry Organization"><span>Laundry Organization</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Lockers-Storage-organization/855642652" title="Lockers"><span>Lockers</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Small-parts-organizers-Storage-organization/4211758077" title="Small Parts Organizers"><span>Small Parts Organizers</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Tools" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/pl/Tools/4294936478" title="Tools" data-linkid="tools" aria-haspopup="true" aria-expanded="false">Tools</a>
											<ul class="flyout-menu js-flyout-component Tools">
												<li><span>Tools</span></li>
												<li class="js-flyout-category"><a href="/pl/Power-tools-Tools/4294607842" title="Power Tools"><span>Power Tools</span></a></li>
												<li class="js-flyout-category"><a href="/c/Hand-tools-Tools" title="Hand Tools"><span>Hand Tools</span></a></li>
												<li class="js-flyout-category"><a href="/c/Power-tool-accessories-Tools" title="Power Tool Accessories"><span>Power Tool Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Tool-storage-work-benches-Tools" title="Tool Storage &amp; Work Benches"><span>Tool Storage &amp; Work Benches</span></a></li>
												<li class="js-flyout-category"><a href="/c/Ladders-scaffolding-Tools" title="Ladders &amp; Scaffolding"><span>Ladders &amp; Scaffolding</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Air-tools-compressors-Tools/4294813361" title="Air Tools &amp; Compressors"><span>Air Tools &amp; Compressors</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Levels-measuring-tools-Tools/4294607864" title="Levels &amp; Measuring Tools"><span>Levels &amp; Measuring Tools</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Welding-soldering-Tools/4294607707" title="Welding &amp; Soldering"><span>Welding &amp; Soldering</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Shop-vacuums-accessories-Tools/4294857473" title="Shop Vacuums &amp; Accessories"><span>Shop Vacuums &amp; Accessories</span></a></li>
												<li class="js-flyout-category"><a href="/c/Flashlights-flashlight-bulbs-Tools" title="Flashlights &amp; Flashlight Bulbs"><span>Flashlights &amp; Flashlight Bulbs</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Jobsite-radios-Tools/195306503" title="Jobsite Radios"><span>Jobsite Radios</span></a></li>
												<li class="js-flyout-category"><a href="/pl/Home-3d-printers-filament-Tools/4294482089" title="Home 3D Printers &amp; Filament"><span>Home 3D Printers &amp; Filament</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" data-flyout-name="Lowes-project-services" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/l/lowes-project-services.html" title="Home Services" data-linkid="home_services" aria-haspopup="true">Home Services</a>
											<ul class="flyout-menu js-flyout-component Lowes-project-services">
												<li><span>Home Services</span></li>
												<li class="js-flyout-category"><a href="/l/kitchen-installation-services.html" title="Kitchen"><span>Kitchen</span></a></li>
												<li class="js-flyout-category"><a href="/l/bathroom-installation-services.html" title="Bathroom"><span>Bathroom</span></a></li>
												<li class="js-flyout-category"><a href="/l/livingroom-bedroom-installation-services.html" title="Living Room &amp; Bedroom"><span>Living Room &amp; Bedroom</span></a></li>
												<li class="js-flyout-category"><a href="/l/whole-home-installation-services.html" title="Whole Home"><span>Whole Home</span></a></li>
												<li class="js-flyout-category"><a href="/l/exterior-installation-services.html" title="Exterior"><span>Exterior</span></a></li>
												<li class="js-flyout-category"><a href="/l/garage-storage-installation-services.html" title="Garage &amp; Storage"><span>Garage &amp; Storage</span></a></li>
											</ul>
										</li>
										<li class="js-departments-category" role="menuitem" tabindex="-1" aria-controls="st1">
											<a href="/l/gift-cards.html" title="Gift Cards" data-linkid="gift_cards">Gift Cards</a>
										</li>
										<li class="js-departments-category" data-flyout-name="" role="menuitem" tabindex="-1" aria-controls="st1">
											<hr>
											<a href="/c/Departments" title="Shop All Departments" data-linkid="shop_all_departments">Shop All Departments</a>
										</li>
										</ul> <!-- / .cat-menu -->
										</div> <!-- / .flyouts -->
										</li> <!-- / #mainNavigation -->
										</ul> <!-- / .lowes-menu -->
									</nav>
									</div> <!-- / .mastheadcategory -->
									<div class="grid-75 tablet-grid-70">
										<div itemscope="" itemtype="https://schema.org/WebSite" class="lowes-search-wrap js-predictive-wrap" data-tablet="true">
											{{!-- <meta itemprop="url" content="https://www.lowes.com/"> --}}
											<div class="parbase searchbar">
												<form itemprop="potentialAction" itemscope="" itemtype="https://schema.org/SearchAction" name="frmQuickSearch" action="/search" method="get" id="frmQuickSearch" class="js-predictive-form">
													{{!-- <meta itemprop="target" content="https://www.lowes.com/search?searchTerm={searchTerm}"> --}}
													<div class="form-group">
														<div class="input-group">
															<input aria-describedby="ada-query-input-describedby" role="combobox" aria-owns="predictive-terms-list" aria-autocomplete="list" aria-expanded="false" aria-activedescendant="" itemprop="query-input" type="text" name="searchTerm" id="search-query" placeholder="Search for it here..." class="form-control search-input js-predictive-input js-masthead-reset-search-form-input art-mh-searchText" data-suggestions-text="Product Suggestions" data-max-suggestions="3" data-max-terms="8" data-predictive-search-off="FALSE" autocomplete="off">
															<span class="input-group-btn">
																<button aria-label="Reset" class="btn btn-reset js-masthead-reset-search-form-button art-mh-searchIcon" type="reset" data-linkid="reset_search_bar_button">
																<i class="icon-close-filled darkMidGrey" role="button" tabindex="0"></i>
																</button>
																<button aria-label="Search" class="btn btn-search" type="submit" data-linkid="search_bar_button"><i class="icon-search" role="button" tabindex="0"></i></button>
															</span>
															<span id="ada-query-input-describedby" class="ada screen-reader-only">Please Enter Your Search Term Here</span>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- Zip In -->
								<div class="js-view-zip-prompt"></div>
							</header>
							<div class="flyout-overlay display-none"></div>
						</div>

