<div class="masthead v-spacing-small hide-mobile">
	<header class="head v-spacing-small">
		<div class="mast v-spacing-small">
			<div class="grid-container">
				<div class="grid-50 tablet-grid-50 grid-parent">
					<!-- Logo -->
					<div class="lowes-logo grid-40 tablet-grid-50">
						<a href="#" data-linkid="lowes-logo" class="align-center display-block lowesBlue">
							<img src="images/mhf/logo.png" alt="Lowe's Home Improvement Logo" aria-describedby="ada-logo-describedby" 	data-pin-nopin="true" />
							<span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement 	Home Page</span>
						</a>
					</div>
					<!-- Find a Store -->
					<div class="store-info-block grid-60 tablet-grid-50" id="currentStoreWrapper">
						<div class="storeindicator">
							<div class="store-hours">
								<span>Open until 10pm tonight!</span>
							</div>
							<div class="store-name-container">
								<a href="" data-linkid="selected-store"><span class="store-name">Mooresville Lowe's</span> <i class="icon-arrow-down"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-50 tablet-grid-50">
					<div class="user-nav pull-right">
						<div class="account-nav hide-print">
							<a href="#" class="js-insert-logon-frame js-guest guest" data-toggle="modal" data-target="#signinModal">
								<div class="account-info">
									<div class="pull-left">
										<i class="icon-account" aria-hidden="true"></i>
									</div>
									<div class="pull-right mylowes-info">
										<div class="mylowes-text-block">
											<span class="display-block primary-text">
												<span class="my-text">my</span>lowes
											</span>
											<span>Sign in</span>
										</div>
									</div>
								</div>
							</a>
							<div class="js-account-info account-info registered display-none">
								<a href="https://www.lowes.com:/en_us/mylowes.html" class="js-navigate-to-mylowes registered">
									<div class="account pull-left">
										<div class="pull-left">
											<i class="icon-account" aria-hidden="true"></i>
										</div>
										<div class="pull-right mylowes-info">
											<div class="mylowes-text-block">
												<span class="display-block primary-text">
													<span class="my-text">my</span>lowes
												</span>
												<span class="greeting">Hi,</span>&nbsp;
												<span class="js-account-first-name myLowesFirstName"></span>
											</div>
										</div>
									</div>
								</a>
								<a href="#" class="js-registered" data-linkid="sign_out">
									<div class="signout-mylowes pull-left">
										<span class="js-signout">Sign Out</span>
									</div>
								</a>
							</div>
						</div>
						<div class="cart-status hide-print">
							<a href="/cart" class="display-block" title="Cart Count" data-linkid="cart-count" aria-describedby="ada-cart-count-describedby"><i class="icon-cart" aria-hidden="true"></i> <span class="cart-count empty" aria-hidden="true">0</span><span id="ada-cart-count-describedby" class="ada screen-reader-only">Cart with <span class="cart-count empty">0</span> items</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navigation-bar js-navigation hide-print background-royalBlue">
			<div class="grid-container">
				<div class="parbase mastheadcategory">
					<nav class="grid-25 tablet-grid-30" role="navigation" aria-label="Departments Navigation">
						<ul class="lowes-menu clearfix" role="menubar" title="Departments" aria-controls="st1">
							<h2 class="ada screen-reader-only">Department Navigation</h2>
							<li class="menu-icon js-open-menu" role="menuitem" tabindex="0" aria-haspopup="true">
								<i class="icon-mobile-menu" aria-hidden="true"></i>
								<a class="nav-heading" aria-hidden="true">Departments</a>
								<i class="icon-arrow-down" aria-hidden="true"></i>
								<ul class="cat-menu js-departments-menu" role="menu">
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Appliances" title="Appliances" data-linkid="appliances">Appliances</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Bathroom" title="Bathroom" data-linkid="bathroom">Bathroom</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Building-supplies" title="Building Supplies" data-linkid="building_supplies">Building Supplies</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Electrical" title="Electrical" data-linkid="electrical">Electrical</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Flooring" title="Flooring" data-linkid="flooring">Flooring</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Hardware" title="Hardware" data-linkid="hardware">Hardware</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Heating-cooling" title="Heating &amp; Cooling" data-linkid="heating___cooling">Heating &amp; Cooling</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Home-decor" title="Home Decor" data-linkid="home_decor">Home Decor</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Kitchen" title="Kitchen" data-linkid="kitchen">Kitchen</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Lighting-ceiling-fans" title="Lighting &amp; Ceiling Fans" data-linkid="lighting___ceiling_fans">Lighting &amp; Ceiling Fans</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Outdoors" title="Outdoors" data-linkid="outdoors">Outdoors</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Paint" title="Paint" data-linkid="paint">Paint</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Plumbing" title="Plumbing" data-linkid="plumbing">Plumbing</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Storage-organization" title="Storage &amp; Organization" data-linkid="storage___organization">Storage &amp; Organization</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Tools" title="Tools" data-linkid="tools">Tools</a>
									</li>
									<li class="cat-listitem" role="menuitemradio" tabindex="-1" aria-controls="st1">
										<a class="js-open-subcat-panel" href="/c/Windows-doors" title="Windows &amp; Doors" data-linkid="windows___doors">Windows &amp; Doors</a>
									</li>
									<li role="menuitemradio" tabindex="-1" aria-controls="st1"><a href="/All-Departments/site-directory" title="Shop All Departments" data-linkid="shop_all_departments">Shop All Departments</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
				<div class="grid-75 tablet-grid-70">
					<div class="lowes-search-wrap">
						<div class="parbase searchbar">
							<form id="frmQuickSearch" class="js-predictive-form">
								<div class="form-group">
									<div class="input-group">
										<input aria-describedby="ada-query-input-describedby" role="combobox" aria-owns="predictive-terms-list" aria-autocomplete="list" aria-expanded="false" aria-activedescendant="" itemprop="query-input" type="text" name="searchTerm" id="search-query" placeholder="Search for it here..." class="form-control search-input js-predictive-input js-masthead-reset-search-form-input" data-suggestions-text="Product Suggestions" data-max-suggestions="3" data-max-terms="8" data-predictive-search-off="FALSE" autocomplete="off">
										<span class="input-group-btn">
											<button aria-label="Reset" class="btn btn-reset js-masthead-reset-search-form-button display-none" type="reset" data-linkid="reset_search_bar_button">
											<i class="icon-close-filled darkMidGrey" role="button" tabindex="0"></i>
											</button>
											<button aria-label="Search" class="btn btn-search" type="submit" data-linkid="search_bar_button"><i class="icon-search" role="button" tabindex="0"></i></button>
										</span>
										<span id="ada-query-input-describedby" class="ada screen-reader-only">Please Enter Your Search Term Here</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
<div class="masthead v-spacing-small hide-tablet hide-desktop">
	<header class="head v-spacing-small">
		<div class="mast v-spacing-small">
			<div class="grid-container">
				<div class="mobile-grid-100 grid-parent logo-store-container">
					<!-- Logo -->
					<div class="lowes-logo">
						<a href="#" data-linkid="lowes-logo" class="align-center display-block lowesBlue">
							<img src="images/mhf/logo.png" class="img-fluid" alt="Lowe's Home Improvement Logo" aria-describedby="ada-logo-describedby" 	data-pin-nopin="true" />
							<span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement 	Home Page</span>
						</a>
					</div>
					<!-- Find a Store -->
					<div class="store-info-block mobile-grid-60 grid-parent" id="currentStoreWrapper">
						<div class="storeindicator">
							<div class="store-hours">
								<span>Open until 10pm tonight!</span>
							</div>
							<div class="store-name-container">
								<a href="" data-linkid="selected-store"><span class="store-name">Mooresville Lowe's</span> <i class="icon-arrow-down"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navigation-bar clearfix">
			<nav>
				<ul class="clearfix">
					<li><a href="#"><i class="icon-mobile-menu" aria-hidden="true"></i> Depts.</a></li>
					<li><a href="#"><i class="icon-search" aria-hidden="true"></i> Search</a></li>
					<li><a href="#"><i class="icon-account" aria-hidden="true"></i> mylowes</a></li>
					<li class="cart-status">
						<a href="" title="Cart Count" data-linkid="cart-count" aria-describedby="ada-cart-count-describedby"><i class="icon-cart" aria-hidden="true"></i> <span class="cart-count empty" aria-hidden="true">0</span><span id="ada-cart-count-describedby" class="ada screen-reader-only">Cart with <span class="cart-count empty">0</span> items</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
</div>