<div class="masthead minimal-header v-spacing-large v-spacing-mobile-large hide-mobile">
	<header class="head v-spacing-small">
		<div class="mast v-spacing-small">
			<div class="grid-container">
				<div class="grid-50 tablet-grid-50 grid-parent">
					<!-- Logo -->
					<div class="lowes-logo grid-40 tablet-grid-50">
						<a href="#" data-linkid="lowes-logo" class="align-center display-block lowesBlue">
							<img src="images/mhf/logo.png" alt="Lowe's Home Improvement Logo" aria-describedby="ada-logo-describedby"   data-pin-nopin="true" />
							<span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement  Home Page</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
<div class="masthead minimal-header v-spacing-small hide-tablet hide-desktop">
	<header class="head v-spacing-small">
		<div class="mast v-spacing-small">
			<div class="grid-container">
				<div class="mobile-grid-100 grid-parent logo-store-container">
					<!-- Logo -->
					<div class="lowes-logo">
						<a href="#" data-linkid="lowes-logo" class="align-center display-block lowesBlue">
							<img src="images/mhf/logo.png" class="img-fluid" alt="Lowe's Home Improvement Logo" aria-describedby="ada-logo-describedby"   data-pin-nopin="true" />
							<span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement  Home Page</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>