<div class="grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
	{{#each colors}}
		<div class="grid-25 tablet-grid-25 mobile-grid-50 align-center">
			<div class="color-container">
				<div class="color-swatch" style="background-color: #{{this.hex}}"></div>
				<div class="color-text">
					<h5>{{this.type}}</h5>
					<p>{{this.color}}</p>
				</div>
			</div>
		</div>
	{{/each}}
</div>